<div class="company-footer">
    <div class="com-foo-quick-links">Quick Links</div>
    <div id="navbar-menu-footer">
        <div class="navbar-item"><a href="company-home-upper" class="navbar-item-a">Home</a></div>
        <div class="navbar-item"><a href="#company-home-middle-aboutus" class="navbar-item-a">About Us</a></div>
        <div class="navbar-item"><a href="#company-home-middle-ourservice" class="navbar-item-a">Our Service</a></div>
        <div class="navbar-item"><a href="#company-home-middle-members" class="navbar-item-a">Members</a></div>
        <div class="navbar-item"><a href="#company-home-middle-calender" class="navbar-item-a">Calender</a></div>
      </div>
</div>