
<div id="navbar">
    <div class="navbar-logo"></div>
    
    <div id="navbar-menu">
      <div class="navbar-item"><a href="company-home-upper" class="navbar-item-a">Home</a></div>
      <div class="navbar-item"><a href="#company-home-middle" class="navbar-item-a">About Us</a></div>
      <div class="navbar-item"><a href="#company-home-middle-ourservice" class="navbar-item-a">Our Service</a></div>
      <div class="navbar-item"><a href="#company-home-middle-members" class="navbar-item-a">Members</a></div>
      <!-- <div class="navbar-item"><a href="#company-home-middle-rateus" class="navbar-item-a">Comment Us</a></div> -->
      <div class="navbar-item"><a href="#company-home-middle-ad" class="navbar-item-a">Vacancies</a></div>
    </div>
    <div id="navbar-icon">
      <i class="fa-solid fa-bars"></i>
    </div>
</div>