        <footer>
            <div class="footer-main-content">
                <div class="footer-left-box">
                    <h1 id="footer-left-h1" class="txt-h">About Us</h1>
                    <div class="footer-left-content">
                        <p class="txt-b">This is a platform empowering home nursing agencies to establish their online presence effortlessly. We specialize in creating custom websites tailored to showcase the unique strengths and services of each agency. With user-friendly tools and expert support, we simplify the process, ensuring agency's voice is heard in the digital landscape. Join us in revolutionizing the way home nursing services connect with clients online.</p>
                    </div>
                </div>
                <div class="footer-center-box">
                    <div id="footer-center-box-logo">
                    </div>
                    <div class="footer-center-details">
                        <span class="fas fa-phone-alt"></span>
                        <span class=" txt-h text">+94-56789344</span>
                    </div>
                    <div class="footer-center-details">
                        <span class="fas fa-envelope"></span>
                        <span class="txt-h text">care4u@gmail.com</span>
                    </div>
                    <div class="footer-center-details">
                        <a href="#"><span class="fab fa-facebook-f"</span></a>
                        <a href="#"><span class="fab fa-instagram"</span></a>
                        <a href="#"><span class="fab fa-linkedin"</span></a>
                    </div>
                </div>
                <div class="footer-right-box">
                    <h1 id="footer-right-h1" class="txt-h">Contact Us</h1>
                    <div class="footer-right-content">
                        <form action="#">
                            <div class="footer-email">
                                <div class="txt-b text">Email *</div>
                                <input type="email" id="footer-email-in" required>
                            </div>
                            <div class="footer-msg">
                                <div class="txt-b text">Message *</div>
                                <textarea rows="6" cols="33" class="footer-msg-inpt" required></textarea>
                            </div>
                            <div class="txt-b">
                                <button type="submit" id="footer-right-btn">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer-lower-bar">
                © www.care4u.lk      All Rights Reserved.
            </div>
        </footer>

        <!-- rating -->
        <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
       
      <!-- manage employees -->
      <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="../scripts/main.js" ></script>
    </body>

    
</html>