<%- include("partials/Header")-%>


<div id="company-main-body">
    <div class="company-container">
        

        <!-- -------contenet---------->
    <div class="company-appl-main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="manage-comp-appl-table-wrapper">

                    <div class="manage-emp-table-title">
                        <div class="row">

                            <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                                <h2 class="txt-b ml-lg-2 anu-title">Company Applications</h2>
                            </div>
                        
                        </div>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                
                            <th>Name</th>
                            <th>Registration Number</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Application Form</th>
                            <th>Action</th>
                            
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                
                            <td>Samarasinghe Care</td>
                            <td>123445</td>
                            <td>samarasinghecare@gmail.com</td>
                            <td>0325678891</td>
                            <td>
                                <button class="company-appli-download-btn" data-timer="3">
                                    <span class="material-symbols-outlined">
                                        download
                                    </span>
                                    <span class="text">Download File</span>
                                </button>
                            </td>
                            <th class="copmany-admin-action-btn">
                                <div class="row">
                                    <div class="row-sm-6 p-0 flex justify-content-lg-end justify-content-center application-two-btn">
                                        
                                        <a href="#acceptEmployeeModal" class="btn btn-success" data-toggle="modal">
                                            <span>Accept</span>
                                        </a>
                                    
                                        <a href="#rejectEmployeeModal" class="btn btn-danger" data-toggle="modal">
                                            <span>Reject</span>
                                        </a>
                                    </div>
                                </div>
                            </th>
                            
                            </tr>

                            <tr>
                                
                            <td>Ayodya MediCare</td>
                            <td>456778</td>
                            <td>ayodyamedicare@gmail.com</td>
                            <td>0377855607</td>
                            <td>
                                <button class="company-appli-download-btn" data-timer="3">
                                    <span class="material-symbols-outlined">
                                        download
                                    </span>
                                    <span class="text">Download File</span>
                                </button>
                            </td>
                            <th>
                                <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center application-two-btn">
                                    
                                    <a href="#acceptEmployeeModal" class="btn btn-success" data-toggle="modal">
                                        <span>Accept</span>
                                    </a>
                                    <a href="#rejectEmployeeModal" class="btn btn-danger" data-toggle="modal">
                                        <span>Reject</span>
                                    </a>
                                </div>
                            </th>
                            
                            </tr>

                            <tr>
                                
                            <td>Suwa Sewana</td>
                            <td>890778</td>
                            <td>suwasewana@gmail.com</td>
                            <td>0356434566</td>
                            <td>
                                <button class="company-appli-download-btn" data-timer="3">
                                    <span class="material-symbols-outlined">
                                        download
                                    </span>
                                    <span class="text">Download File</span>
                                </button>
                            </td>
                            <th>
                                <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center application-two-btn">
                                    
                                    <a href="#acceptEmployeeModal" class="btn btn-success" data-toggle="modal">
                                        <span>Accept</span>
                                    </a>
                                    <a href="#rejectEmployeeModal" class="btn btn-danger" data-toggle="modal">
                                        <span>Reject</span>
                                    </a>
                                </div>
                            </th>
                            
                            </tr>

                            <tr>
                                
                            <td>Ayurwedhic Care Hospital </td>
                            <td>345671</td>
                            <td>ayurwedhiccare@gmail.com</td>
                            <td>0118967556</td>
                            <td>
                                <button class="company-appli-download-btn" data-timer="3">
                                    <span class="material-symbols-outlined">
                                        download
                                    </span>
                                    <span class="text">Download File</span>
                                </button>
                            </td>
                            <th>
                                <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center application-two-btn">
                                    
                                    <a href="#acceptEmployeeModal" class="btn btn-success" data-toggle="modal">
                                        <span>Accept</span>
                                    </a>
                                    <a href="#rejectEmployeeModal" class="btn btn-danger" data-toggle="modal">
                                        <span>Reject</span>
                                    </a>
                                </div>
                            </th>
                            
                            </tr>

                            <tr>
                                
                            <td>We Care </td>
                            <td>1189776</td>
                            <td>wecrae123@gmail.com</td>
                            <td>0718766534</td>
                            <td>
                                <button class="company-appli-download-btn" data-timer="3">
                                    <span class="material-symbols-outlined">
                                        download
                                    </span>
                                    <span class="text">Download File</span>
                                </button>
                            </td>
                            <th>
                                <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center application-two-btn">
                                    
                                    <a href="#acceptEmployeeModal" class="btn btn-success" data-toggle="modal">
                                        <span>Accept</span>
                                    </a>
                                    <a href="#rejectEmployeeModal" class="btn btn-danger" data-toggle="modal">
                                        <span>Reject</span>
                                    </a>
                                </div>
                            </th>
                            
                            </tr>

                            <tr>
                                
                            <td>Gunerathne Hospitals</td>
                            <td>4567784</td>
                            <td>gunerathnehospitals@gmail.com</td>
                            <td>0381290345</td>
                            <td>
                                <button class="company-appli-download-btn" data-timer="3">
                                    <span class="material-symbols-outlined">
                                        download
                                    </span>
                                    <span class="text">Download File</span>
                                </button>
                            </td>
                            <th>
                                <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center application-two-btn">
                                    
                                    <a href="#acceptEmployeeModal" class="btn btn-success" data-toggle="modal">
                                        <span>Accept</span>
                                    </a>
                                    <a href="#rejectEmployeeModal" class="btn btn-danger" data-toggle="modal">
                                        <span>Reject</span>
                                    </a>
                                </div>
                            </th>
                            
                            </tr>
                        </tbody>
                    </table>
                   

                    <!-- -----------edit modal----------- -->
                    <div class="modal fade" tabindex="-1" id="editEmployeeModal" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Edit Employees</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" required>
                              </div>

                              <div class="form-group">
                                <label for="">Email</label>
                                <input type="Email" class="form-control" required>
                              </div>

                              <div class="form-group">
                                <label for="">Address</label>
                                <textarea class="form-control" id="" cols="30" rows="10" required></textarea>
                              </div>

                              <div class="form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" required>
                              </div>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-success">Save</button>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- -----------delete modal----------- -->
                    <div class="modal fade" tabindex="-1" id="deleteEmployeeModal" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Delete Employees</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p class="manage-emp-delete-noti">Are You Sure You Want To Delete This Records</p>
                              <p class="text-warning"><small>This action cannot be undone.</small></p>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-success">Delete</button>
                            </div>
                          </div>
                        </div>
                    </div>

                </br></br></br>


                
                </div>
            </div>
                
                </div>
            </div>
        </div>
    </div>
    </div> 

</div>


<%- include("partials/Footer")-%>