<%- include("partials/Header")-%>
<div id="home-main-body">

    <!-- <div id="home-logo-animation">
            <img class="home-logo-animation-image" src="../images/care4ulogonew.jpeg" alt="" height="350px" width="335px" >
    </div> -->
    <div id="home-main-middle-body">
        <div id="home-middle-image">
            <!-- <div id="home-main-middle-body-color-overlay"> -->
                <div class="home-middle-links">
                    <div class="home-link-topic">
                        <h3 class="txt-h home-topics">For Companies</h3>
                        <!-- <h5 class="txt-b">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5> -->
                        <a href="Home/Company-login" class="txt-b"><button type="button" id="home-company-login">Login</button></a>
                        <h6 class="txt-b">Don't have an account?</h6>
                       <a href="Home/Company-register" class="txt-b"><button type="button" id="home-company-register" class="txt-b">Register</button></a> 
                    </div>

                </div>
                <div id="middle-links-space"></div>
                <div class="home-middle-links">
                    <div class="home-link-topic">
                        <h3 class="txt-h home-topics" >For Customers</h3>
                        <!-- <h5 class="txt-b">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5> -->
                        <a href="Home/Main-home" class="txt-b"><button type="button" id="home-customer-login">Visit Our Service</button></a>
                    </div>
                </div>
             <!-- </div> -->
        </div>
    </div>

</div>
<%- include("partials/Footer")-%>
        
        
        