<%- include("partials/Header")-%>
<!-- <%- include("partials/Company-header")-%> -->


<!-- <div id="member-body">
    <div class="member-container">
         <div class="member-left_side">
            <div class="member-profile">
                <div class="imgBx">
                    <img src="p2.jpg" >
                </div>
            </div>
         </div>


         <div class="member-right_side">
            <form>
                <table>
                    <tr>
                        <td>
                            User Id :
                        </td>
                        <td>
                            <input type="text" placeholder="" name="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Name :
                        </td>
                        <td>
                            <input type="text" placeholder="" name="">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Gender :
                        </td>
                        <td>
                            <input type="radio" name="Type"> Male
                            <input type="radio" name="Type"> Female
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Date of Birth :
                        </td>
                        <td>
                            <input type="date" placeholder="" name="">
                        </td>
                    </tr>

                    
                    

                    <tr>
                        <td>
                            Type :
                        </td>
                        <td>
                            <input type="radio" name="Type"> Nursing
                            <input type="radio" name="Type"> Caregiver
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Qualifications : <br>
                        </td>
                        <td>
                            
                            <input type="checkbox" nvq3> NVQ 3 or Up <br>
                            <input type="checkbox" nvq6> NVQ 6 or Up <br>
                            <input type="checkbox" bsc> BSc Degree in Nursing <br>
                                
                            
                        </td>
                    </tr>
                    

                </table>
            </form>
         </div>
    </div>


</div> -->

<div class="member-body">
    <div class="member-container">
        <div class="member-imgBx">
            <div class="member-img">
                <img src="/images/card1.JPG" alt="">
            </div>
        </div>
        <div class="member-right">
            <div class="member-details">
                <div class="txt-b member-details-topic">Member ID: </div>
                <div class="txt-b member-details-content">D001</div>
            </div>
            <div class="member-details">
                <div class="txt-b member-details-topic">Name: </div>
                <div class="txt-b member-details-content">Amali Dias</div>
            </div>
            <div class="member-details">
                <label class="txt-b member-details-topic">Gender: </label>
                <label class="txt-b member-details-content">Female</label>
            </div>
            <div class="member-details">
                <label class="txt-b member-details-topic">Birth Date: </label>
                <label class="txt-b member-details-content">1990-9-11</label>
            </div>
            <div class="member-details">
                <label class="txt-b member-details-topic">Type: </label>
                <label class="txt-b member-details-content">Nurse</label>
            </div>
            <div class="member-details">
                <label class="txt-b member-details-topic">Qualification: </label>
                <label class="txt-b member-details-content">Bsc. Degree in Nursing</label>
            </div>
            <div class="member-details">
                <label class="txt-b member-details-topic">Experience: </label>
                <label class="txt-b member-details-content">Bsc. Degree in Nursing</label>
            </div>
            <div>
               <a href="Booking" ><button class="txt-b member-book-btn">Book</button></a> 
            </div>
        </div>
    </div>
</div>




<%- include("partials/Footer")-%>