<%- include("partials/Header")-%>
<%- include("partials/Company-header")-%>
<div class="nurse-order-form-body">
    <div class="bookings_container">
        
        <form action="#" method="POST" class="nurse-order-form">
            <h2 class="txt-h application-title">Bookings</h2>
            <div class="bookings_input-box">
                <label class="txt-b">Name</label>
                <input type="text" class="txt-b" name="Name" placeholder="Enter your name" required />
            </div>

        
            <div class="bookings_input-box">
                <label class="txt-b">Phone Number</label>
                <input type="text" class="txt-b" name="phone_number" placeholder="Enter your phone number" required />
            </div>
            
            <div class="bookings_input-box">
                <label class="txt-b">Email</label>
                <input type="text" class="txt-b" name="email" placeholder="Enter your email"/>
            </div>
            

            <div class="bookings_input-box">
                <label class="txt-b">Nurse / Caregiver ID</label>
                <input type="text" class="txt-b" name="id" placeholder="Enter nurse/caregiver ID"required />
            </div>

            <div class="bookings_input-box">
                <label class="txt-b">Duration</label>
                <input type="text" class="txt-b" name="duration" placeholder="Enter Duration" required/>
            </div>

            <div class="bookings_input-box">
                <label class="txt-b">Service Description</label>
                <!-- <input type="text" class="txt-b" name="description" placeholder="Enter service description" required/> -->
                <textarea rows="6" cols="39" class="txt-b" name="description" placeholder="Enter service description"></textarea>
            </div>

            <button class="txt-b"> Submit </button>

        </form>
    </div>
</div>

<%- include("partials/Footer")-%>